.advantages {
  padding-top: 64px;
  padding-bottom: 64px;
}

.advntitle {
  color: var(--text-green);
  margin-bottom: 24px;
}

.advngrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.advncard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: 16px;
  background: var(--foreground);
  border-radius: 16px;
  padding: 16px;
}

.advnicon {
  width: 64px;
  height: 64px;
  color: var(--text-black);
}

.advncardTitle {
  color: var(--text-green);
}

.advntext {
  color: var(--text-green);
}

@media only screen and (min-width: 768px) {
  .advantages {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .advngrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .div3 {
    grid-column: span 2;
  }

  .advntitle {
    margin-bottom: 32px;
  }

  .advncard {
    padding: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  .advantages {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .advngrid {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
  .div3 {
    grid-column: span 1;
  }

  .advncardTitle {
    font-size: 26px;
  }

  .advntext {
    font-size: 18px;
  }
}
