.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 32px;
  width: 100%;
  background-color: var(--foreground);
  border-radius: 24px;
}

.heading {
  color: var(--text-black);
}

.action {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12px;
  height: 48px;
  background-color: var(--button-primary);
  color: var(--text-white);
  border: 1px solid var(--button-primary);
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  transition: all 0.2s ease;
}

.button:hover {
  background-color: var(--button-primary-hover);
  color: var(--text-green);
}

.button:active {
  background-color: var(--button-primary);
  color: var(--text-white);
}

@media only screen and (min-width: 768px) {
  .card {
    padding: 40px 32px;
    max-width: 533px;
  }

  .action {
    align-items: flex-start;
    width: auto;
  }

  .button {
    padding: 6px 12px;
  }
}

@media only screen and (min-width: 1440px) {
  .card {
    padding: 40px 32px;
    gap: 32px;
  }

  .heading {
    font-size: 26px;
  }

  .button {
    font-size: 20px;
  }
}
