.title {
  text-align: center;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--text-black);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: stretch;
}

@media (min-width: 768px) {
  .form {
    gap: 24px;
  }
}
