.modal {
  text-align: center;
}

.title {
  font-size: 26px;

  margin-bottom: 16px;
}

.text {
  margin-bottom: 32px;
}

.list {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  & li {
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
}

.btn {
  display: inline-block;
  width: 100%;
  padding: 12px;

  &:last-of-type:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  @media screen and (min-width: 768px) {
    min-width: 203px;
  }
}
