.rating {
  display: inline-flex;
  align-items: center;
  gap: 9px;
  margin-bottom: 12px;
}

.ratingDivider {
  font-size: 50px;
  line-height: 0;
  padding-bottom: 8px;
}

.ratingValue {
  color: var(--text-green);
}

.ratingCount {
  color: var(--text-green);
}

@media (min-width: 1440px) {
  .ratingValue,
  .ratingCount {
    font-size: 18px;
  }
}
