.heroWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.hero {
  position: relative;
  width: 100%;
  max-width: 1440px;
  overflow: hidden;
  padding: 64px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.background {
  position: absolute;
  inset: 0;
  z-index: 0;
  min-height: 708px;
}

.background::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.32); 
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 335px;
  margin: 0 auto;
  padding: 108px 0;
  text-align: left;
}

.title {
  font-family: var(--montserrat-font);
  color: var(--text-white);
  margin-bottom: 16px;
}

.subtitle {
  font-family: var(--montserrat-font);
  font-size: 14px; 
  color: var(--text-white);
  margin-bottom: 24px;
  font-weight: 500;
  line-height: 1.5;
}

.search {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center; 
}

.heroInput,
.heroButton {
  width: 100%;
}

/* Tablet */
@media (min-width: 768px) {
  .hero {
    padding: 64px 32px;
  }
  .content {
    align-items: flex-start;
    padding: 160px 0;
    max-width: 704px;
  }

  .search {
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 8px;
    justify-content: flex-start;
  }

  .heroInput {
    max-width: 331px;
   
  }

  .heroButton {
    max-width: 137px;
    white-space: nowrap;
    text-align: center;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .hero {
    padding: 72px 64px;
  }
  .content {
    padding: 164px 0;
    max-width: 1312px;
    align-items: flex-start;
  }

  .heroInput {
    max-width: 331px;
  }
  .heroButton {
    max-width: 165px;
  }
}
