.text {
  color: var(--text-green);
  line-height: 1.5;
}

@media (min-width: 1440px) {
  .wrapper {
    max-width: 865px;
    margin: 0 auto;
    padding-top: 48px;
  }

  .text {
    font-size: 18px;
  }
}
