.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.sectionTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.title {
  font-size: 48px;
  color: var(--text-black);
}

.text {
  font-size: 20px;
  line-height: 1.5;
  color: var(--text-black);
}

.buttons {
  display: flex;
  gap: 24px;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.link {
  display: block;

  @media screen and (min-width: 768px) {
    min-width: 203px;
  }
}

.btn {
  width: 100%;
  padding: 6px 12px;
  font-size: 20px;
}
