.backdrop {
  position: fixed;
  inset: 0;
  background-color: #00000040;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  width: 334px;
  padding: 64px 20px;
  background-color: var(--background);
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  margin: 0;
  color: var(--text-black);
  text-align: center;
}

.textArea {
  width: 100%;
}
.label {
  text-align: left;
  font-weight: 400;
  margin-bottom: 8px;
}
.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formGroup {
  display: flex;
  flex-direction: column;
}

.errorMessage {
  color: var(--red-error);
  font-size: 12px;
  margin-top: 4px;
}

.starWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.textareaWrapper {
  display: flex;
  flex-direction: column;
}

.buttonsWrapper {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}

/* Планшет */
@media (min-width: 768px) {
  .modal {
    width: 704px;
    padding: 64px 32px;
  }
}

/* Десктоп */
@media (min-width: 1440px) {
  .modal {
    width: 768px;
    padding: 64px;
  }
}
