.wrapper {
  position: relative;
}

.header {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.title {
  color: var(--text-brown);
}

.btnStyle {
  border-radius: 6px !important;
  position: absolute;
  top: 64px;
  right: 0;
}

@media (min-width: 1440px) {
  .btnStyle {
    top: 72px;
  }
}
