.wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
}

.title {
  color: var(--text-brown);
}

.btnStyle {
  border-radius: 6px;
  align-self: flex-start;
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }

  .btnStyle {
    align-self: auto;
    margin-left: auto;
  }
}

@media (min-width: 1440px) {
  .header {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 374px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .btnStyle {
    width: 100%;
  }
}
