.card {
  border: 1px solid var(--border);
  border-radius: 12px;
  background: var(--foreground);
  overflow: hidden;
}

.bottom {
  padding: 16px;
}

.bottom > *:not(:last-child) {
  margin-bottom: 12px;
}

.category {
  font-weight: 600;
  font-size: 12px;
  color: var(--text-brown);

  @media screen and (min-width: 1440px) {
    font-size: 16px;
  }
}

.name {
  line-height: 1.5;
  font-size: 18px;
  color: var(--text-brown);

  @media screen and (min-width: 1440px) {
    font-size: 26px;
  }
}
