.hero {
  display: flex;
  flex-direction: column;
  gap: 33px;
  padding: 32px 0;
}

@media (min-width: 768px) {
  .hero {
    gap: 24px;
  }
}

@media (min-width: 1440px) {
  .hero {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 48px 0;
  }
}
