.pageWrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.locations {
  padding-top: 32px;
  padding-bottom: 48px;
}

.heading {
  margin-bottom: 40px;
  color: var(--text-black);
}

.loadMoreWrap {
  display: flex;
  width: 100%;
}

.appendLoaderWrap {
  width: 100%;
}

.button {
  display: flex;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .pageWrap {
    gap: 40px;
  }

  .locations {
    padding-top: 40px;
    padding-bottom: 56px;
  }

  .loadMoreWrap {
    justify-content: center;
  }

  .button {
    min-width: 133px;
    width: auto;
  }
}

@media only screen and (min-width: 1440px) {
  .locations {
    padding-top: 48px;
    padding-bottom: 72px;
  }

  .button {
    min-width: 160px;
    width: auto;
  }
}
