.wrapper {
  order: 2;
}

.rating {
  display: inline-flex;
  align-items: center;
  gap: 9px;
  margin-bottom: 12px;
}

.ratingDivider {
  font-size: 50px;
  line-height: 0;
  padding-bottom: 8px;
}

.ratingValue {
  color: var(--text-green);
}

.title {
  margin-bottom: 12px;
}

.meta {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--text-green);
  line-height: 1.5;
}

.label {
  font-weight: 700;
}

.authorLink {
  color: inherit;
  text-decoration: underline;
}

.authorLink:hover {
  color: var(--button-primary);
}

@media (min-width: 1440px) {
  .wrapper {
    order: 1;
  }

  .ratingValue {
    font-size: 18px;
  }
  .meta {
    font-size: 18px;
  }
}
